.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

.blogPostContainer {
	--list-item: #fac25b;
	--blockquote: #fffff5;

	color: var(--on-primary-dark);
	word-wrap: break-word;
	width: 70%;
	min-height: 100vh;
	font-size: 2rem;
	background: var(--primary);
	border: 0.2rem solid var(--secondary);
	border-top: none;
	border-bottom: none;
	padding: 0 5rem;
	font-family: "Fira Code", monospace;
	line-height: 1.5em;

	@media screen and (max-width: 40rem) {
		margin: 0rem;
		padding: 0 3rem;
		border-radius: 0;
		width: 100%;
	}

	& code {
		font-family: "Fira Code", monospace;
		border-radius: 0.2rem;
		padding: 0 1rem;
		background-color: #282a36;
	}

	& p {
		margin: 0.75rem 0;
	}

	& h1,
	& h2,
	& h3,
	& h4,
	& h5,
	& h6 {
		color: var(--secondary);
		margin-top: 1.5rem;
	}

	& h1 {
		text-align: center;
		padding: 1rem;
		font-weight: 800;
		font-size: 3rem;
	}

	& h2 {
		font-size: 2.8rem;
	}

	& h3 {
		font-size: 2.4rem;
	}

	& h4 {
		font-size: 2.2rem;
	}

	& h5 {
		font-size: 2.1rem;
	}

	& ul {
		margin: 1rem 0;
		text-indent: 0rem;

		& li {
			padding-top: 3rem;
			padding-left: 1rem;
			color: var(--list-item);

			&::marker {
				content: "->";
				font-weight: 800;
				font-size: 1.8rem;
				font-family: "Fira Code", monospace;
			}
		}
	}

	& b,
	& strong {
		color: var(--special);
	}

	& em,
	& i {
		font-style: italic;
	}

	& blockquote {
		font-style: italic;
		color: var(--blockquote);
		margin-left: 0.5rem;
	}
}
